---
layout: default
---
<link rel="stylesheet" href="/assets/css/projects.sass">

{%- if site.posts.size > 0 -%}
<h2>Projects</h2>
<ul class="posts">
    {%- for post in site.posts -%}
    <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
            <div class="post-meta">
                <div>
                    <h3 class="post-title">{{ post.title | escape }}</h3>
                </div>
            </div>
            <div class="post">
                <p class="post-description">{{ post.description }}</p>
            </div>

            {{ content }}
        </a>
    </li>
    {%- endfor -%}
</ul>

{%- endif -%}
